.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  position: relative;
  background-color: #282c34;
  /* min-height: 100vh; */
  height: 50px;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 5px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
input,select{
  outline: 0;
  border: "1px black solid";
  padding: 0 10px;
  height: 40px;
  width: 400px;
  margin: 5px;
  border-radius: 25px;
  font-size:small ;
}
.search-bar{
  display: flex;
  flex-direction: column;
  align-items: center;
   justify-content: center; 
   width: 80%;
}